* {
    margin: 0px;
    padding: 0px;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #info-desk {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    background-color: #0c1844;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    z-index: 10;
    border-radius: 10px;
    /* overflow: hidden; */
  }
  #info-desk.visible{
      opacity: 1;
  }
  #info-desk.hidden{
      display: none;
  }
  .info-desk-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .info-header h2 {
    font-size: 3rem;
    margin: 15px 5px;
  }
  #state-name {
    font-weight: bold;
    color: #fff5e1;
  }
  #capital {
    font-weight: normal;
    color: #888;
    font-style: italic;
    margin-left: 5px;
  }
  
  .state-image {
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-right: 30px;
  }
  .info-body {
    border-radius: 5px;
    width: 100%;
  }
  .artifacts-container {
    padding: 10px;
    width: 100%;
  }
  .artifacts-container h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ff6969;
  }
  .artifacts-list {
    background-color: #fff5e1;
    border-radius: 5px;
     
    overflow-y: auto;
    max-height: 125px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .artifacts-list li {
    color: #c80036;
    padding: 5px;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  .button-container {
    flex-shrink: 0;
    height: 50px;
    /* align-items: flex-end; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
  }
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
  }
  #go-back {
    background-color: #c80036;
    color: #fff5e1;
  }
  #go-back:hover{
      background-color: #ccc;
      color: #c80036;
  }
  #go-museum {
    background-color: #007bff;
    color: #fff;
  }
  #go-museum:hover{
      background-color: #fff;
      color:#007bff ;
  }
  @media (max-width: 845px) {
    .state-image {
      width: 150px; /* Adjust image size for smaller screens */
    }
    .info-header h2 {
      display: flex; /* Enable flexbox for the heading */
      flex-direction: column; /* Stack elements vertically */
      align-items: flex-start; /* Align to the left */
      font-size: 1.8rem;
    }
    .artifacts-list {
      max-height: 110px; /* Adjust for smaller screens */
    }
  }
  #timeline-container {
    position: absolute;
    bottom: 10px;
    display: flex;
    /* width: 100%; */
    flex-direction: column;
  }
  #progress-wrapper {
    /* width: 100vw; */
    height: 5px;
    background-color: #ddd;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px;
  }
  #progress-line {
    width: 0px;
    height: 5px;
  
    background-color: brown;
    transition: width 1s ease-in-out;
  }
  #timeline {
    display: flex;
  
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #timeline li {
    flex: 1 0 auto;
    padding: 10px 20px;
    /* border: 1px solid #ddd; */
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
    cursor: pointer;
    color: #877777;
  }
  #timeline li:hover {
    background-color: brown;
    color: white;
  }
  #language {
    position: absolute;
    color: brown;
    top: 250px;
    left: -184px;
    display: inline-block;
    width: 550px;
    transform: rotate(-90deg);
    font-size: 120px;
    z-index: 25;
    text-align: center;
    transition: content 0.1s ease-in-out;
  }
  